body {
  margin-left: 240px;
  margin-right: 240px;
}

.card-container {
  margin-top: 100px;
}

.card {
  float: left;
  width: 340px;
  height: 380px;
  background-color: rgb(222, 222, 221);
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-title {
  font-size: 25px;
}

.postBtn {
  position: absolute;
  top: 10px;
  right: 240px;
}
