.header {
    padding : 30px;
    font-size : 30px;
    text-align : center;
    background : lightgray;
 }
 
 .post {
     background-color : white;
     padding : 20px;
     margin-top : 20px;
     border-width: 1px;
     border-style : solid;
     border-color : gray;
 }
 
 .markdown {
     padding : 40px;
     margin-top : 30px;
 }